*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;

}
header {
    background: url('kepek/header2.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 180px;
}
header h1 {
    margin-top: 50px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
nav{
    background-color: #333;
    padding: 20px 0;
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 800px;
    margin: auto;
}
.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease , transform 0.3s ease;
    transform: scale(1);
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}
.card a {
    text-decoration: none;
    color: #333;
}
.card:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transform: scale(1.05);
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.price {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}
aside {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    margin: 20px;
}
.kosar h2 {
    text-align: center;
    margin-bottom: 10px;
}
.kosar ul {
    list-style: none;
    padding: 0;
}
.kosar ul li {
    padding: 5px 0;
}
.total-price {
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    
}
#clear-cart {
    background-color: #dc3545;
}
#clear-cart:hover {
    background-color: #c82333;
}
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
footer p{
    margin: 0;
}
@media (max-width: 800px){
    .cards{
        grid-template-columns: 1fr;
    }
    
    nav{
        padding: 15px 0;
        margin-bottom: 5px;
    }
    .card:hover{
        transform: scale(1);
    }
    aside{
        max-width: 100%;
        margin: 10px;
    }
}